Package: com.dvntm.silentnotifs
Name: SilentNotifs
Version: 0.0.4
Architecture: iphoneos-arm64
Description: Keep notifications silent while media or other app audio is playing
Maintainer: dvntm
Author: dvntm
Section: Tweaks
Depends: firmware (>= 14.0)
